<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../src/output.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Sopro</title>
  </head>
  <body>
    <!-- Create-project-form -->
    <div
      class="fixed w-screen h-screen backdrop-blur-md z-50 grid place-content-center layer-form hidden"
    >
      <div
        class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg text-center"
      >
        <h2 class="text-2xl font-bold mb-6">Create a Project</h2>
        <form
          class="form"
          action="#"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="image"
            >
              Project Image
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="image"
              type="file"
              name="image"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="name"
            >
              Nom du Projet
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="name"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="description"
            >
              Description
            </label>
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="description"
              name="description"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="start-date"
            >
              Date de début
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="start-date"
              type="date"
              name="start_date"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="end-date"
            >
              Date de fin
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="end-date"
              type="date"
              name="end_date"
              required
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="py-1 px-5 bg-white border-2 border-black rounded-md"
              type="submit"
            >
              Submit
            </button>
            <button
              class="py-1 px-5 bg-black text-white rounded-md"
              type="reset"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Edite-project-form -->
    <div
      class="fixed w-screen h-screen backdrop-blur-md z-50 grid place-content-center layer-form-edit hidden"
    >
      <div
        class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg text-center"
      >
        <h2 class="text-2xl font-bold mb-6">Modifiez le Project</h2>
        <form
          class="form-edit"
          action="#"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="edit-image"
              >Project Image</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="edit-image"
              type="file"
              name="image"
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="edit-name"
              >Nom du Projet</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="edit-name"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="edit-description"
              >Description</label
            >
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="edit-description"
              name="description"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="edit-start-date"
              >Date de début</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="edit-start-date"
              type="date"
              name="start_date"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="edit-end-date"
              >Date de fin</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="edit-end-date"
              type="date"
              name="end_date"
              required
            />
          </div>
          <div class="flex items-center justify-between">
            <button
              class="py-1 px-5 bg-white border-2 border-black rounded-md"
              type="submit"
            >
              Submit
            </button>
            <button
              class="py-1 px-5 bg-black text-white rounded-md"
              type="reset"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Add-Tasks-form -->
    <div
      class="fixed top-0 w-screen h-screen backdrop-blur-md z-50 grid place-content-center layer-task hidden"
    >
      <div
        class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg text-center"
      >
        <h2 class="text-2xl font-bold mb-6">Ajouter Une Tache</h2>
        <form
          class="task-form"
          action="#"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="task-name"
              >Nom de la Tâche</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="task-name"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="task-description"
              >Description</label
            >
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="task-description"
              name="description"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="py-1 px-5 bg-white border-2 border-black rounded-md"
              type="submit"
            >
              Submit
            </button>
            <button
              class="py-1 px-5 bg-black text-white rounded-md"
              type="reset"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Edit-Tasks-form -->
    <div
      class="fixed w-screen h-screen backdrop-blur-md z-50 grid place-content-center layer-modify-task hidden"
    >
      <div
        class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg text-center"
      >
        <h2 class="text-2xl font-bold mb-6">Modifier la Tâche</h2>
        <form class="modify-task-form" action="#" method="POST">
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="modify-task-name"
              >Nom de la Tâche</label
            >
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="modify-task-name"
              type="text"
              name="name"
              required
            />
          </div>
          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="modify-task-description"
              >Description</label
            >
            <textarea
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="modify-task-description"
              name="description"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="flex items-center justify-between">
            <button
              class="py-1 px-5 bg-white border-2 border-black rounded-md"
              type="submit"
            >
              Submit
            </button>
            <button
              class="py-1 px-5 bg-black text-white rounded-md"
              type="reset"
            >
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="w-10/12 mx-auto">
      <header
        class="w-10/12 mt-2 left-0 right-0 mx-auto z-40 backdrop-blur-xl bg-white bg-opacity-70 px-5 rounded-full top-2"
      >
        <nav>
          <ul class="flex justify-between py-4 items-center">
            <li class="flex gap-4 items-center">
              <img
                class="size-8"
                src="../assets/images/ac70afe3d5798b9d7cd8ad3b4683047b.png"
                alt=""
                srcset=""
              /><a href="" class="font-normal text-2xl text-orange-950"
                >Sopro</a
              >
            </li>
            <div class="md:flex hidden gap-4 items-center">
              <li class="hover:underline hover: underline-offset-4">
                <a href="#">Contact-Us</a>
              </li>
              <li class="hover:underline hover: underline-offset-4">
                <a href="#">About</a>
              </li>
              <li class="hover:underline hover: underline-offset-4">
                <a href="#">Explore</a>
              </li>
            </div>
            <div class="md:flex hidden gap-3 items-center">
              <li>
                <button
                  class="py-1 px-5 bg-white border-2 border-black rounded-md"
                >
                  <a href="#content">Get-started</a>
                </button>
              </li>
              <li>
                <button
                  class="py-1 px-5 bg-black text-white rounded-md new-project"
                >
                  New Project
                </button>
              </li>
            </div>
            <li class="md:hidden block mr-5">
              <i class="fa-solid fa-bars"></i>
            </li>
          </ul>
        </nav>
      </header>

      <main class="relative z-10">
        <div
          class="min-h-screen grid place-content-center relative project-details mt-10"
        ></div>
      </main>
      <footer class="">
        <div class="my-10">
          <div class="flex flex-col gap-5 justify-center w-screen items-center">
            <img
              class="size-10"
              src="../assets/images/ac70afe3d5798b9d7cd8ad3b4683047b.png"
              alt=""
              srcset=""
            />
            <p class="w-2/5 text-center text-gray-600 font-normal text-base">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Consequatur porro ipsum nisi laboriosam cum veritatis itaque.
              Doloremque amet ipsum, quae saepe delectus incidunt nobis sequi
              magnam reprehenderit tenetur, pariatur vero?
            </p>
            <div class="flex gap-2">
              <i class="fa-brands fa-square-facebook fa-2x"></i>
              <i class="fa-brands fa-square-instagram fa-2x"></i>
              <i class="fa-brands fa-square-x-twitter fa-2x"></i>
              <i class="fa-brands fa-linkedin fa-2x"></i>
            </div>
            <ul class="flex gap-4 text-gray-600 font-normal text-base">
              <li>Privacy</li>
              <li>Policy</li>
              <li>Terms of use</li>
              <li>Pricing</li>
              <li>About</li>
              <li>Contact</li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <script src="../assets/js/Details.js"></script>
  </body>
</html>
