@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/blurry-gradient-haikei.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
ul li {
  cursor: pointer;
}
.main-title {
  font-family: "Roboto Slab", serif;
}
.active {
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 4px;
}

footer {
  height: 30dvh;
  position: absolute;
  width: 100vw;
  margin-top: 140px;
  right: 0%;
  background-color: azure;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s infinite;
}
